aiofiles
aiohttp
beautifulsoup4
cryptography
EbookLib
fake-useragent
httpx[socks]~=0.27.0
httpx-socks~=0.9.1
PicImageSearch~=3.10.3
pydantic
python-telegram-bot[socks, job-queue] ~= 21.2
urlextract
Pillow