name: telegraph-2-Komga-format

on:
  push:
    branches:
      - 'main'

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      -
        name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.darinirvana }}
          password: ${{ secrets.dckr_pat_szwV2JgZBGVB4HkRYkbTcD2edBY }}
      -
        name: Build and push
        uses: docker/build-push-action@v5
        with:
          push: true
          tags: darinirvnana/telegraph-2-Komga-format:latest
